.calculator {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#display {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333333;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background-color: #483b37;
  color: #e1dede;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d9d9d9;
}

button:active {
  background-color: #d17000;
}